{{define "title"}}Home{{end}}

{{define "main"}}
    <div class="homeMainDiv">
        <div class="flex w-100-p">
            <div class="terminal w-100-p">
                {{ template "information" "desktop" }}

                {{ template "zsh" "github-contribution" }}

                {{ template "GithubCalendar" .GithubCalendar }}

                {{ template "zsh" "" }}
            </div>
        </div>
        <div class="flex flex-col w-100-p">
            <div class="terminal h-100-p">
                {{ template "zsh" "sfetch" }}

                {{ template "latestTrack" .LastFM }}

                {{ template "zsh" "" }}
            </div>
            <div class="flex h-100-p">
                <div class="terminal w-100-p">
                    {{ template "zsh" "pfetch" }}
<pre>   __
-=(o '.       miha@mp3
   '.-.\      os      Golang
   /|  \\     host    mihasket
   '|  ||     ascii   snd
    _\_):,_   bar     waybar
</pre>
                    {{ template "zsh" "" }}
                </div>

                <div class="terminal w-100-p">
                    {{ template "zsh" "slime-gif" }}
                    <img class="display-img" src="/static/img/slime.gif" alt="Moving slime">
                </div>
            </div>
        </div>
    </div>
{{end}}
