{{define "title"}}Home{{end}}

{{define "main"}}
    <div class="homeMainDiv">
        <div class="flex-center-100">
            <div class="terminal">
                {{ template "information" "desktop" }}
            </div>
        </div>
        <div class="flex-center-100">
            <div class="terminal">
                {{ template "zsh" "latest-track" }}

                <div class="flex">
                    <img class="p-2 w-175px display-img" src="{{ (index (index .LastFM.RecentTracks.Track 0).Image 3).Text }}">
                    <div class="p-2">
                        <p class="whitespace-pre"><span class="blue">title</span>   {{ (index .LastFM.RecentTracks.Track 0).Name }}</p>
                        <p class="whitespace-pre"><span class="blue">artist</span>  {{ (index .LastFM.RecentTracks.Track 0).Artist.Name }}</p>
                        <p class="whitespace-pre"><span class="blue">album</span>   {{ (index .LastFM.RecentTracks.Track 0).Album.Text }}</p>
                    </div>
                </div>

                {{ template "zsh" "" }}
            </div>
        </div>
    </div>
{{end}}
