{{define "title"}}Projects{{end}}

{{define "main"}}
        <style>
            .tmux {
                background-color: #5e81ac;
                padding: 5px 20px;
            }
            .display-img {
                height: auto;
                max-width: 100%;
                border: 0px solid;
                border-radius: 10px;
            }
            .project-content {
                display: none;
            }
            .active {
                display: block;
                margin-left: 20px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            #project-area {
                width: 100%;
                background-color: #2e3440;
                border-style: solid;
                border-color: #191d2455;
                border-radius: 10px;
            }
        </style>

        <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
            <div class="terminal" style="display: flex; flex-direction: column; width: 100%; height: 100%; min-width: 800px; max-width: 1200px; min-height: 600px; max-height: 700px; padding: 20px;">
                <div style="flex: 1; display: flex;">
                    <div style="width: 25%; padding: 20px;">
                        <p style="padding: 0; margin: 0; font-size: 20px;"><span style="color: #ebcb8b;"></span> ~/code/projects</p>

                        <div>
                            {{ template "ProjectButton" "mp3-tagger.md" }}

                            {{ template "ProjectButton" "sfetch.md" }}

                            {{ template "ProjectButton" "chip8.md" }}

                            {{ template "ProjectButton" "README.md" }}
                        </div>
                    </div>

                    <div id="project-area">
                        <div id="README.md" class="project-content active">
                            <p>Projects</p>
                            <p>Click on the markdown files to display the project!</p>
                        </div>

                        <div id="mp3-tagger.md" class="project-content">
                            <div style="display: flex; align-items: center;">
                                <a style="font-size: 28px" href="https://github.com/mihasket/mp3-tagger/">@mp3-tagger</a>
                                <span style="color: #b48ead; font-size: 40px; margin-left: 20px;"></span>
                            </div>
                            <p>A C++ program for ID3v2.3 MP3 tagging modifies, or writes metadata in MP3 audio files according to the ID3v2.3 specification.<br><br>
                            These tags include information like title, artist, album, year, genre, etc.</p>

                            <div style="display: flex; justify-content: center;">
                                <img class="display-img" src="/static/img/mp3-tagger-example.png">
                            </div>
                        </div>

                        <div id="sfetch.md" class="project-content">
                            <div style="display: flex; align-items: center;">
                                <a style="font-size: 28px" href="https://github.com/mihasket/sfetch/">@sfetch</a>
                                <span style="color: #b48ead; font-size: 40px; margin-left: 20px;"></span>
                            </div>
                            <p>A python CLI tool for displaying spotify artist and album information.</p>

                            <div style="display: flex; justify-content: center;">
                                <img class="display-img" style="max-width: 50%;" src="/static/img/sfetch-example.png">
                            </div>
                        </div>

                        <div id="chip8.md" class="project-content">
                            <div style="display: flex; align-items: center;">
                                <a style="font-size: 28px" href="https://github.com/mihasket/chip8/">@chip8</a>
                                <span style="color: #b48ead; font-size: 40px; margin-left: 20px;"></span>
                            </div>
                            <p>A Rust program for a CHIP-8 emulator simulates the CHIP-8 virtual machine, which is a simple, interpreted programming language used in the 1970s for early gaming systems.</p>

                            <div style="display: flex; justify-content: center;">
                                <img class="display-img" style="max-width: 80%;" src="/static/img/chip8-example.png">
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: flex; margin-top: 20px; justify-content: space-between; background-color: #434c5e;">
                    <div style="display: flex;">
                        <span class="tmux" style="background-color: #81a1c1;">0</span>

                        <span class="tmux">0 | nvim *</span>
                    </div>

                    <div style="display: flex;">
                        <span class="tmux" id="tmuxDate" style="background-color: #4c566a;"></span>
                        <span class="tmux "style="background-color: #81a1c1;">mp3</span>
                    </div>
                </div>
            </div>
        </div>

        <script>
                let now = new Date();
                const date = now.toISOString().split('T')[0];

                const hours = String(now.getHours()).padStart(2, '0');
                const minutes = String(now.getMinutes()).padStart(2, '0');
                const time = `${hours}:${minutes}`;

                document.getElementById("tmuxDate").innerText = `${date} | ${time}`;

                function showProject(projectName) {
                    const contents = document.querySelectorAll('.project-content');
                    contents.forEach(div => div.classList.remove('active'));

                    const selected = document.getElementById(projectName);
                    if (selected) {
                        selected.classList.add('active');
                    }
                }
        </script>
{{end}}
