{{define "title"}}Terminal{{end}}

{{define "main"}}
    <!--<div class="terminal w-100-p">
        <div class="py-2">
            <div class="flex p-0 m-0">
                <span class="yellow">miha</span>
                <span>@</span>
                <span class="orange">mp3</span>
                <span class="path blue pl-5"></span>
            </div>
            <div class="flex items-center">
                <span>>&nbsp;</span>
                <input class="pl-5 green" type="text" id="fname" name="fname">
            </div>
        </div>
    </div>-->
{{end}}
