{{define "information"}}
{{ template "zsh" "myself" }}

<div class="flex-center">
    <a href="https://github.com/mihasket/">@github</a>
    {{if eq . "desktop"}}
        <span class="purple f-size-6 ml-3"></span>
    {{else}}
        <span class="purple f-size-4 ml-3"></span>
    {{end}}
</div>

<div class="flex-center">
    <a href="mailto:sket.miha@proton.me">@mail</a>
    {{if eq . "desktop"}}
        <span class="purple f-size-6 ml-3">󰁥</span>
    {{else}}
        <span class="purple f-size-4 ml-3">󰁥</span>
    {{end}}
</div>

<div class="flex-center">
    <a href="https://discordapp.com/users/miha01">@discord</a>
    {{if eq . "desktop"}}
        <span class="purple f-size-6 ml-3"></span>
    {{else}}
        <span class="purple f-size-4 ml-3"></span>
    {{end}}
</div>

<div class="py-5">
<samp>Software developer from Maribor, Slovenia.</samp><br>
<samp>Currently learning Go, Rust and C.</samp><br>
<samp>Love lifting weights and reading.</samp><br>
</div>

<p class="websiteInfo">
This website is made with Go and is designed to replicate the appearance of my Linux desktop environment, mainly <a href="https://github.com/Alexays/Waybar">@waybar</a>. It is fully synchronized with my <a href="https://github.com/mihasket/dotfiles">@dotfiles</a>, ensuring that any changes I push to my configuration are immediately reflected in the website’s look and feel.
</p>

<p class="p-0 m-0">
To see my projects click on button 2 at the top of the bar!
</p>

<p class="p-0 m-0">
Or simply visit <a href="/projects">@projects</a>
</p>
{{end}}
