{{define "ProjectButton" }}
<style>
.projectButton {
    all: unset;
    width: 100%;
    font-size: 20px;
    padding-left: 30px;
}

.projectButton::hover {
    color: blue;
}
</style>

<button onClick="showProject({{ . }})" class="projectButton">
    <span style="color: #eceff4; padding-right: 5px;">󰂺</span> <span style="color: #7ca4c7; font-size: 20px;">{{ . }}</span>
</button>

{{end}}
