{{define "waybar"}}
    <div id="waybar" class="waybar">
        <div class="modules-left flex z-1">
            {{ template "modules" .ModulesLeft }}
        </div>

        <div class="modules-center flex-abs-center">
            {{ template "modules" .ModulesCenter }}
        </div>

        <div class="modules-right flex z-1 py-0">
            {{ template "modules" .ModulesRight }}
        </div>
    </div>

{{end}}

{{define "modules"}}
    {{range .}}
        {{if eq .HtmlID "custom-logo"}}
            <div id="{{ .HtmlID }}">{{ .GetFormat }} {{template "title" .}} - Miha Šket</div>
        {{else if eq .HtmlID "workspaces"}}
            <nav id="{{ .HtmlID }}" class="flex">
                <a class="px-2" href="/">1</a>
                <a class="px-2" href="/projects">2</a>
                <a class="px-2" href="/playground">3</a>
            </nav>
        {{else}}
            <div id="{{ .HtmlID }}" class="px-2">{{ .GetFormat }}</div>
        {{end}}
    {{end}}
{{end}}
