{{define "zsh"}}
    <div class="py-2">
        <div class="flex p-0 m-0">
            <span class="path blue"></span>
        </div>
        <div class="flex items-center">
            <span class="maroon">&nbsp;</span>
            <input type="text" class="terminal-input green" value="{{ . }}" readonly>
            <span class="cursor"></span>
        </div>
    </div>
{{end}}
