{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/mihasket/dotfiles@master/.config/waybar/style.css'>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <title>{{template "title" .}} - Miha Šket</title>
    </head>
    <body>
        <header>
            {{template "waybar" .}}
        </header>
        <main style="height: 95%;">
            {{template "main" .}}
        </main>
    </body>
</html>
{{end}}
