* {
    font-size: 16px;
}

html {
    color: white;
    font-family: 'JetBrainsMono Nerd Font';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #6c82b1, #4c6bb8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

font-face {
    font-family: 'JetBrainsMono Nerd';
    src: url('../fonts/JetBrainsMonoNerdFontRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

div,
.modules-left,
.modules-center,
.modules-right {
    font-size: 18px;
}

#window,
.modules-right {
    padding-top: 6px;
    padding-bottom: 6px;
}

#workspaces {
    padding: 0 20px 0 20px;
}

#workspaces button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#workspaces button:hover {
    background-color: #81A1C1;
}

.terminal {
    background-color: #14140fCC;
    border-style: solid;
    border-color: #678EAC;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: fit-content;
}

.terminal a:link {
    color: #b48ead;
    text-decoration: none;
}

.terminal a:visited {
    color: #b48ead;
    text-decoration: none;
}

.terminal a:hover {
    color: #d49bd1;
    text-decoration: underline;
}

.terminal p,
.terminal samp,
.terminal pre,
.terminal a,
.terminal span {
    font-size: 22px;
}

/* Animation for blinking */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-cursor {
    display: inline-block;
    width: 10px;
    height: 1em;
    background-color: white;
    margin-left: 8px;
    animation: blink 1s steps(1) infinite;
    vertical-align: middle;
}
